:root {
  --fuenteHeading: "PT Sans", sans-serif;
  --fuenteParrafos: "Open Sans", sans-serif;

  --Primario: #784d3c;
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #e1e1e1;
}
html {
  box-sizing: border-box; /*El box-sizing es para que el padding no afecte el ancho de los elementos*/
  font-size: 62.5%; /*Para que 1 rem = a 10px*/
}
html,
body {
  margin: 0; /* para que no hayan margenes*/
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteParrafos);
  font-size: 1.4rem;
  line-height: 1.8;
}

/*Globales*/
.contenedor {
  /*max-width: 120rem;  /*Esto lo que hace es que ocupa 120 rem*/
  /*width: 90%;  /*Ocupa solo el 90% para que el contenido no se pegue a las orillas*/
  width: min(90%, 120rem); /*Esto aplica el menor valor entre esos dos*/
  margin: 0 auto; /*Centrar contenido*/
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
img {
  max-width: 100%;
}

/*Utilidades*/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

/*Header*/
.webp .header {
  background-image: url(/img/banner.webp);
}
.header {
  background-image: url(/img/banner.jpg);
  height: 60rem;
  background-size: cover; /*Para que la imagen ocupe todo el espacio del contenedor*/
  background-repeat: no-repeat;
  background-position: center center; /*Para que cuando se recorte la imagen, se recorte desde el centro*/
}
.header__texto {
  text-align: center;
  color: var(--blanco);
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .header__texto {
    margin-top: 15rem;
  }
}
.barra {
  padding-top: 4rem;
}
@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between; /*Los elementos se ubican a los extremos*/
    align-items: center; /*Alinea los elementos verticalmente al centro*/
  }
}
.logo {
  color: var(--blanco);
}
.logo__nombre {
  font-weight: normal; /*Es como ponerle un 400*/
}
.logo__bold {
  font-weight: 700;
}
@media (min-width: 768px) {
  .navegacion {
    display: flex;
    gap: 2rem; /*Espacio entre los elementos*/
  }
}
.navegacion__enlace {
  display: block; /*Para que los elementos estén uno debajo del otro*/
  text-align: center;
  font-size: 1.8rem;
  color: var(--blanco);
}
@media (min-width: 768px) {
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}
.entrada {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.entrada:last-of-type {
  /*last-of-type selecciona el ultimo elemento de su tipo. en este caso es el ultimo article con la clase entrada*/
  border-bottom: none;
  margin-bottom: 0;
}
.boton {
  display: block; /*Para que el boton ocupe todo el ancho del contenedor*/
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border: none;
}
.boton:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .boton {
    display: inline-block; /*Para que el boton pueda tener margen y tambien un width definido*/
  }
}
.boton--primario {
  background-color: var(--negro);
}
.boton--secundario {
  background-color: var(--Primario);
}
.cursos {
  list-style: none; /*para quitarle la viñeta*/
}
.widget-curso {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.widget-curso:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
.widget-curso__label,
.curso__label {
  font-family: var(--fuenteHeading);
  font-weight: 700;
}
.widget-curso__info,
.curso__info {
  font-weight: 400;
}
.widget-curso__label,
.widget-curso__info,
.curso__info {
  font-size: 2rem;
}
.footer {
  background-color: var(--negro);
  padding-bottom: 3rem;
  margin-top: 4rem;
}

/*Nosotros*/
/*Con grid*/
/*@media (min-width: 768px) {
    .sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    }
}*/
/*Con flex-box*/
@media (min-width: 768px) {
  .sobre-nosotros {
    display: flex;
    gap: 2rem;
  }
  .sobre-nosotros__imagen,
  .sobre-nosotros__texto {
    flex-basis: 50%; /*Flex basis es el width dentro de un flex*/
  }
}

/*Cursos*/
.curso {
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
}
.curso:last-of-type {
  border-bottom: none;
}
@media (min-width: 768px) {
  .curso {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

/*Entrada*/
@media (min-width: 768px) {
  .entrada-blog {
    display: grid;
    grid-template-rows: 2fr 1fr;
  }
}

/*Contacto*/
.contacto-bg {
  background-image: url(/img/contacto.jpg);
  height: 40rem; /*Para que la imagen se vea, ya que el div no tiene contenido*/
  background-size: cover; /*Para que la imagen ocupe todo el espacio del contenedor*/
  background-repeat: no-repeat;
}
.formulario {
  background-color: var(--blanco);
  margin: -5rem auto 0 auto; /*El margin negativo es para que el formulario se suba sobre la imagen de fondo*/
  width: 95%;
  padding: 5rem;
}
.campo {
  display: flex;
  margin-bottom: 2rem;
  text-align: right;
  gap: 2rem;
}
.campo__label {
  flex: 0 0 9rem; /*El primer valor es el crecimiento, el segundo es la reducción y el tercero es el tamaño base*/
}
.campo__field {
  flex: 1; /*Ocupa todo el espacio disponible*/
  border: 1px solid var(--gris);
}
.campo__field--textarea {
  height: 20rem;
}
